@import "tailwindcss";

/* Leaflet fix: Ensure the map container has dimensions */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Hide scrollbar but allow scroll */
.slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}